*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "calibri", sans-serif;
  margin: 0;
  background-color: black;
}

i.fa-solid {
  font-size: 9px;
}

.mainTitle {
  font-size: 48px;
  text-align: right;
  color: #fffff7;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.15);
  padding-right: 4.5vw;
  padding-top: 4px;
  padding-bottom: 7px;
}

.mainText {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2%;
  background-color: #fffff7;
}

.mainText h2 {
  background-color: rgb(160, 110, 110);
  padding-top: 2px;
  box-shadow: 0 0 6px rgb(43, 0, 0);
}

section {
  margin: 0 1% 0 1%;
  font-size: 1rem;
  background-color: rgb(111, 0, 37);
  padding: 1rem;
  border: 1rem solid black;
  flex: 1;
  max-width: 30rem;
  position: relative;
}

/*section:not(:first-child) {
  border-top: 0;
}*/

#linktotexts {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 19px;
}

/* 
section a {
    color: black;
    text-decoration: none;
} */

p {
  line-height: 1.3em;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 3px;
  text-align: center;
}

ul {
  margin-top: 5px;
}

li {
  text-align: left;
}

footer p {
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
  background-color: black;
  margin-bottom: 0;
  /* font-size: 0.95rem; */
  color: black;
  padding: 5px;
  color: rgb(55, 55, 55);
}

a {
  color: #ffffff;
  text-decoration: none;
}

div a:hover {
  color: rgb(55, 55, 55);
}

footer a:hover {
  color: rgb(55, 55, 55);
}

.pop-up {
  position: relative;
  display: inline;
  color: rgb(255, 255, 255);
}

.pop-up:hover .pop-up-text {
  display: block;
}

.pop-up-text {
  line-height: 1.3;
  font-size: 0.813rem;
  width: max-content;
  max-width: 30vw;
  background-color: white;
  position: absolute;
  border: 2px solid black;
  padding: 5px 10px;
  display: none;
  color: black;
  font-weight: normal;
  text-align: left;
}
