*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'calibri', sans-serif;
  margin: 0;
  background-color: black;
}

i.fa-solid {
  font-size: 9px;
}

.mainTitle {
  font-size: 48px;
  text-align: right;
  color: #fffff7;
  font-family: 'Times New Roman', Times, serif;
  background-color: black;
  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.15);
  padding-right: 4.5dvw;
  padding-top: 4px;
  padding-bottom: 7px;
  text-decoration: none;
}

.mainText {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2%;
  background-color: #fffff7;
}

.mainText h2 {
  background-color: rgb(255, 255, 255);
  padding: 4px;
  box-shadow: 0 0 6px rgb(56, 58, 24);
  border-radius: 10px;
  margin-top: 14px;
  font-size: 1.6rem;
  color: black;
}

section {
  color: #111213;
  margin: 0 1% 0 1%;
  font-size: 1rem;
  background-color: #5e636e;
  padding: 1rem;
  border: 1rem solid black;
  flex: 1;
  max-width: 30rem;
  position: relative;
  border-radius: 10px;
}

/*section:not(:first-child) {
  border-top: 0;
}*/

#linktotexts {
  display: block;
  position: absolute;
  bottom: 16px;
  right: 19px;
}

/* 
section a {
    color: black;
    text-decoration: none;
} */

p {
  line-height: 1.3em;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 3px;
  text-align: center;
}

ul {
  margin-top: 5px;
}

li {
  text-align: left;
}

footer p {
  bottom: 0;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
  background-color: black;
  margin-bottom: 0;
  /* font-size: 0.95rem; */
  color: black;
  padding: 5px;
  color: rgb(55, 55, 55);
}

a {
  color: #fffff7;
  text-decoration: none;
}

footer a,
.mainTitle a {
  text-decoration: none;
}

div a:hover {
  color: rgb(55, 55, 55);
}

footer a:hover {
  color: rgb(55, 55, 55);
}

.pop-up {
  position: relative;
  display: inline;
  color: rgb(255, 255, 255);
}

.pop-up:hover .pop-up-text {
  display: block;
}

.pop-up-text {
  line-height: 1.3;
  font-size: 0.813rem;
  width: max-content;
  max-width: 30dvw;
  background-color: white;
  position: absolute;
  border: 2px solid black;
  padding: 5px 10px;
  display: none;
  color: black;
  font-weight: normal;
  text-align: left;
}

#buttonsSection {
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 1px;
  gap: 2px;
}

.buttonPlato {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-family:
    Roobert,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  padding: 1px 12px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  display: block;
}

.buttonPlato:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 4px;
  transform: translateY(-1px);
}

.buttonPlato:active {
  box-shadow: none;
  transform: translateY(0);
}
